@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	font-family: "Roboto";
	margin: 0px;
	padding: 0px;
	color: white;
	overflow: hidden;
    box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	animation: fadeInAnimation ease-in-out 0.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	height: 100%;
    font-family: "Open Sans", sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #223254;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url("../images/ina.jpg");
	background-position: 50% 50%;
	background-size: cover;
}

p {
	position: absolute;
	left: 42%;
	top: 50%;
}

h1 {
	position: absolute;
	top: 22%;
	color: white;
	left: 47%;
}

#checkbox-container {
	position: absolute;
	left: 45%;
	top: 40%;
	color: white;
}

a {
	color: white;
	text-decoration: none;
	text-align: center;
}

.button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  position: absolute;
  left: 41%;
  top: 35%;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 24px;
    min-width: 196px;
  }
}