* {
	font-family: Roboto;
	margin: 0px;
	padding: 0px;
	color: white;
	overflow: hidden;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.top {
	align-items: center;
	flex-direction: column;
	margin-top: 10%;
}

.left-margin {
	margin: 0px 16px;
}

.logo {
	width: 150px;
	position: absolute;
	top: 15%;
}

.logo-wrapper .top {
	font-size: 75px;
	font-family: "Roboto";
	color: #fff;
}

.desc {
	width: 560px;
	color: rgba(253, 253, 253, 0.514);
}

form {
	position: absolute;
	left: 35%;
	top: 55%;
}

form input {
	background: none;
	font-family: inherit;
	padding: 0px 17px;
	height: 48px;
	border: 1px solid rgb(255, 255, 255, 0.2);
	border-radius: 3px;
	outline: none;
	width: 350px;
	margin-top: 5px;
	border-radius: 50px;
	color: #fff;
	text-align: center;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)),
      url("../images/ina.jpg");
	background-position: 50% 50%;
	background-size: cover;
}

p {
	position: absolute;
	left: 45%;
	top: 50%;
}

h1 {
	position: absolute;
	top: 40%;
}

a {
	color: white;
	text-decoration: none;
	text-align: center;
}

footer {
	position: absolute;
	left: 44%;
	top: 65%;
}