* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    
    overflow: hidden;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100%;
  }
  
  .fa-magnifying-glass {
    color: white;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
  }
  
  .header-center {
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
  }
  
  .left-margin {
    margin: 0px 16px;
  }
  
  #error {
    color: #ff6666 !important;
    white-space: pre-wrap;
  }
  
  #error-code {
    font-size: 12px;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
  }
  
  #register-sw {
    color: white;
    background: #555555;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 16px 20px;
    line-height: 16px;
    display: none;
  }
  
  #register-sw:active {
    background: #333333;
  }
  
  #register-sw.show {
    display: block;
  }
  
  .logo {
    width: 150px;
    position: absolute;
    top: 15%;
  }
  
  .logo-wrapper .text {
    font-size: 75px;
    font-family: "Roboto";
    color: #fff;
  }
  
  .logo-wrapper h1 {
    color: white;
  }
  
  .desc p {
    width: 560px;
    color: rgba(253, 253, 253, 0.514);
  }
  form {
    position: absolute;
    left: 37%;
    top: 55%;
  }
  
  form input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #fff;
  }
  
  form input:focus {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url("../images/ina.jpg");
    background-position: 50% 50%;
    background-size: cover;
  }
  
  p {
    position: absolute;
    left: 45%;
    top: 50%;
  }
  
  h1 {
    position: absolute;
    top: 20%;
    color: white;
    left: 45.5%;
  }

#checkbox-container {
    position: absolute;
    left: 45%;
    top: 40%; 
    color: white;
}

* {
  box-sizing: border-box;
}
.cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
}
.cbx:not(:last-child) {
  margin-right: 6px;
}
.cbx:hover {
  background: rgba(0,119,255,0.06);
}
.cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.cbx:hover span:first-child {
  border-color: #07f;
}
.inp-cbx {
  position: absolute;
  visibility: hidden;
}
.inp-cbx:checked + .cbx span:first-child {
  background: #07f;
  border-color: #07f;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: #223254;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 640px) {
  body {
    width: auto;
    display: inherit;
    padding: 20px;
  }
  .cbx {
    width: 100%;
    margin-bottom: 4px;
    display: inline-block;
  }
}
@-moz-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
